.about-main {
    background-image: url(/assets/images/about-az-desert-designer-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 1000px;
}

.about-main h1 {
    position: absolute;
    top: 300px;
    left: 50px;
    color: #FFFFFF;
}

.about-main p {
    position: absolute;
    top: 450px;
    left: 50px;
    color: #FFFFFF;
    margin: 20px auto;
    padding-right: 150px;
    max-width: 1500px;
    text-align: left;
    line-height: 1.7;
}

.about-services {
    background: linear-gradient(180deg, #011627, #FFFFFF);
    padding: 50px;
    text-align: center;
}

.about-services h2 {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.about-services ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.about-services li {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
    width: 500px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-services li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
    transform: translateY(-5px) scale(1.05);
}

.about-services li img {
    width: 300px;
    height: 250px;
    border: 3px solid #000000;
    border-radius: 100%;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

.about-services li:hover img {
    transform: scale(1.05);
    border: 3px solid #FF3366;
}

.about-services li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-decoration: none;
    color: inherit;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-decoration: underline;
}

.about-contact {
    padding: 50px;
    text-align: center;
}

.about-contact h2 {
    margin-bottom: 20px;
}

.about-contact a {
    color: #FFFFFF;
}

.about-contact a:hover {
    text-decoration: underline;
}

@media (max-width: 1750px) {
    .about-main p {
        padding-right: 300px;
    }
}

@media (max-width: 1440px) {
    .about-main {
        background-image: url(/assets/images/about-az-desert-designer-background-medium.webp);
        height: 800px;
    }

    .about-main h1 {
        top: 200px;
        left: 50px;
    }

    .about-main p {
        top: 300px;
        left: 50px;
        padding-right: 200px;
        max-width: 900px;
    }
}

@media (max-width: 768px) {
    .about-main {
        background-image: url(/assets/images/about-az-desert-designer-background-small.webp);
        height: 500px;
    }

    .about-main h1 {
        top: 180px;
        left: 50px;
    }

    .about-main p {
        top: 240px;
        left: 50px;
        padding-right: 200px;
        max-width: 900px;
        font-size: 0.9rem;
    }

    .about-services li {
        width: 400px;
        height: 300px;
    }

    .about-services li img {
        width: 220px;
        height: 170px;
        border: 3px solid #000000;
        border-radius: 100%;
        margin-bottom: 2rem;
        transition: transform 0.3s;
    }

    .about-services li a {
        font-size: 1.2rem;
    }
}

@media (max-width: 610px) {
    .about-main p {
        top: 220px;
        font-size: 0.7rem;
    }
}

@media (max-width: 425px) {
    .about-main {
        background-image: url(/assets/images/about-az-desert-designer-background-mobile.webp);
        height: 400px;
    }

    .about-main h1 {
        top: 150px;
        left: 30px;
    }

    .about-main p {
        top: 190px;
        left: 30px;
        font-size: 0.6rem;
        padding-right: 100px;
    }
}