* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Root variables */
:root {
    --primary-color: #011627;
    --secondary-color: #FF3366;
    --accent-color: #2EC4B6;
    --accent-color-dark: #199A87;
    --font-family: 'Arial', sans-serif;
    --transition-speed: 0.3s;
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    overflow-x: hidden;
}

/* Text Styles */
h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.4rem, 3.5vw, 2.3rem);
}

h3 {
    font-size: clamp(1.3rem, 3vw, 2rem);
}

p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
    position: relative;
    z-index: 1000;
}
  
.logo img {
    width: 150px;
    height: auto;
    padding: 20px 0 0 20px;
}
  
.nav-links {
    list-style: none;
    display: flex;
    transition: all var(--transition-speed) ease-in-out;
}
  
.nav-links li {
    margin: 0 15px;
}
  
.nav-links a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 15px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    position: relative;
    transition: color var(--transition-speed) ease-in-out;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform var(--transition-speed) ease-in-out;
}

.nav-links a:hover::after {
    transform: scaleX(0.8);
}

.nav-links a.active::after {
    transform: scaleX(0.8);
    background-color: var(--secondary-color);
}
  
.nav-links a:hover {
    color: var(--accent-color);
}
  
.hamburger {
    display: none;
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: transform var(--transition-speed) ease-in-out;
}
  
/* Hamburger animation */
.hamburger.active {
    transform: rotate(90deg);
}

/* Footer styling */
.footer {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-section p,
.footer-section ul {
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #f8f8f8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--secondary-color);
}

/* Social media icons */
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    width: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.2);
}

.social-links a[aria-label="Facebook"] img:hover {
    content: url(/assets/images/facebook-logo-color.svg);
}

/* Footer bottom */
.footer-bottom {
    background-color: var(--primary-color);
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
  
/* Dropdown Menu (Mobile) */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--primary-color);
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
  
    .nav-links li {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--secondary-color);
    }
  
    .nav-links.show {
        max-height: 300px;
        transition: max-height var(--transition-speed) ease-in-out;
    }
  
    .hamburger {
        display: block;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        text-align: center;
    }
}