/* Hero section */
.hero-section {
    position: relative;
    background-image: url('/assets/images/hero-desktop.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--accent-color-supalight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* Overlay for readability */
.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(1, 22, 39, 0.5), rgba(1, 22, 39, 0.8));
    z-index: 1;
}

/* Hero content */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    top: -10%;
    transform: translateY(-50%);
}

.hero-content h1 {
    font-family: 'Bubblegum Sans', serif;
    color: var(--accent-color-supalight);
    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.hero-content p {
    color: var(--accent-color-light);
    margin-bottom: 30px;
    font-size: 1.2rem;
}

/* CTA buttons */
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    font-family: 'Acme', serif;
    transition: all var(--transition-speed) ease-in-out;
}

.primary-btn {
    background-color: var(--secondary-color);
    color: #FFFFFF;
}
  
.primary-btn:hover {
    background-color: var(--secondary-color-light);
    transform: scale(1.05);
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.secondary-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

/* Services section */
.services {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 30px;
    background-color: #FFFFFF;
}
  
.services-left {
    flex: 2;
    display: flex;
    flex-direction: column;
}
  
.services-card {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.services-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
  
.services-icon img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    transition: transform 0.3s ease;
}
  
.services-icon img:hover {
    transform: rotate(10deg);
}
  
.services-card-content h3 {
    margin-bottom: 5px;
    color: #000000;
}
  
.services-card-content p {
    color: #000000;
}
  
.services-text {
    flex: 1;
    text-align: left;
    margin: 50px;
}
  
.services-text h2 {
    color: #000000;
    margin: 30px 10px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
}
  
.services-text p {
    color: #000000;
    margin: 30px 10px;
}

.services-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.services-link:hover .services-card {
    transform: translate(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Testimonials section */
.testimonials {
    position: relative;
    width: 100%;
    padding: 100px 0;
    background-color: var(--secondary-color);
    text-align: center;
}

.testimonials h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #FFFFFF;
    margin-bottom: 30px;
}

.testimonials-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
}

.testimonial-card {
    display: none;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}

.testimonial-card.active {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 50px 0;
    display: block;
    opacity: 1;
}

.client-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.client-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.client-info div {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    color: var(--primary-color);
    padding: 30px;
}

.client-info h3 {
    color: var(--primary-color);
    margin: 0;
}

.client-info p {
    color: var(--primary-color);
    margin: 0;
    font-style: italic;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px;
    color: var(--primary-color);
}

.carousel-prev {
    left: 15%;
}

.carousel-next {
    right: 15%;
}

.carousel-prev:hover, .carousel-next:hover {
    color: #555;
}

/* Responsive styling */
@media (max-width: 1765px) {
    .text-section {
        padding-right: 0;
    }

    .carousel-section {
        max-width: 500px;
    }

    .carousel-slide img {
        width: 500px;
        height: 375px;
    }
}

@media (max-width: 950px) {
    .main-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-section h1 {
        text-align: center;
    }

    button {
        margin: 0 auto;
        display: block;
    }
    
    .text-section, .carousel-section {
        padding: 0;
    }

    .carousel img {
        margin-bottom: 10px;
    }

    .services {
        flex-direction: column-reverse;
        padding: 40px;
    }

    .services-text {
        margin: 0;
    }

    .services-text h2 {
        text-align: center;
    }

    .services-icon img {
        width: 100px;
        height: 100px;
    }

    .testimonials {
        padding: 50px 0;
    }

    .testimonial-card.active {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .main-section {
        padding: 30px;
    }

    .carousel-section {
        max-width: 400px;
    }

    .carousel-slide img {
        width: 400px;
        height: 275px;
    }

    .carousel-prev, .carousel-next {
        font-size: 2rem;
    }
}

@media (max-width: 435px) {
    .main-section {
        padding: 25px;
    }

    .carousel-section {
        max-width: 300px;
    }

    .carousel-slide img {
        width: 275px;
        height: 175px;
    }

    .services-icon img {
        width: 60px;
        height: 60px;
    }

    .services-card-content p {
        font-size: 0.8rem;
    }

    .quote {
        font-size: 0.9rem;
    }

    .testimonials-carousel {
        max-width: 80%;
    }

    .carousel-prev {
        left: 10%;
    }

    .carousel-next {
        right: 10%;
    }

    .client-info img {
        width: 50px;
        height: 50px;
    }
}