/* Intro section flex layout */
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: var(--primary-color)
}

.main-text {
    flex: 1;
    padding-right: 20px;
}

.main-text h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.main-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #FFFFFF;
}

.main-image {
    flex: 1;
    text-align: right;
}

.main-image img {
    width: 80%; /* Control image size */
    max-width: 400px; /* Optional max width */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add depth */
}

/* Services section - Card grid */
.services-section {
    padding: 50px;
}

.services-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.service-card {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.service-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.service-card h2 {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: underline;
}

.service-card p {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.service-card a {
    color: #FFFFFF;
    text-decoration: none;
}
