/* Intro section flex layout */
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--primary-color)
}

.main-text {
    flex: 1;
    padding-right: 20px;
}

.main-text h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.main-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #FFFFFF;
}

.main-image {
    flex: 1;
    text-align: center;
}

.main-image img {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 8);
}

/* Services section */
.services-section {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.services-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    width: 100%;
}

.services-flex {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.services-flex a {
    text-decoration: none;
}

.service-card {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.service-card h2 {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: underline;
}

.service-card p {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.service-card a {
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 1440px) {
    .service-card img {
        width: 80px;
    }

    .service-card h2 {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .service-card p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}

@media (max-width: 925px) {
    .main-section {
        flex-direction: column;
        gap: 50px;
    }

    .services-section {
        padding: 50px 80px;
    }

    .services-flex {
        gap: 50px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 865px) {
    .services-section {
        padding: 50px;
    }

    .services-flex {
        flex-direction: column;
    }
}

@media (max-width: 435px) {
    .main-section {
        padding: 30px;
    }

    .main-text h1 {
        text-align: center;
    }

    .main-image img {
        width: 100%;
    }

    .services-section {
        padding: 30px;
    }

    .services-flex {
        gap: 50px;
    }

    .service-card img {
        width: 60px;
    }

    .service-card h2 {
        font-size: 1.8rem;
    }

    .service-card p {
        font-size: 0.9rem;
    }
}