.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

.main-text h1 {
    padding-left: 10px;
    font-size: clamp(2.5rem, 5vw, 5rem);
}

.main-text p {
    font-size: 1.3rem;
    padding: 20px 10px;
    line-height: 1.6;
    color: #FFFFFF;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img {
    width: 100%;
}

.services-container {
    background-color: var(--accent-color-supalight);
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.services-container h2 {
    color: var(--primary-color);
    margin-bottom: 30px;
    width: 100%;
}

.service {
    background-color: var(--primary-color);
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service h3 {
    font-size: 1.8em;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-decoration: underline;
}

.service p {
    color: #FFFFFF;
    line-height: 1.5;
}

.service .image {
    margin-bottom: 15px;
}

.service .image img {
    width: 50%;
}

@media (max-width: 1440px) {
    .service .image img {
        width: 30%;
    }
}

@media (max-width: 1280px) {
    .service {
        width: 350px;
    }
}

@media (max-width: 1130px) {
    .service {
        width: 300px;
    }
}

@media (max-width: 860px) {
    .main-section {
        flex-direction: column;
    }

    .main-text h1 {
        text-align: center;
        padding-left: 0;
    }

    .main-image img {
        width: 90%;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
    }

    .service .image img {
        width: 15%;
    }
}

@media (max-width: 768px) {
    .services-container {
        padding: 40px;
    }

    .service .image img {
        width: 30%;
    }
}

@media (max-width: 500px) {
    .main-section {
        padding: 20px;
    }

    .main-image img {
        width: 90%;
    }

    .main-text p {
        font-size: 1.1rem;
        padding: 20px;
    }

    .services-container {
        padding: 30px;
    }
}